#img_upper_left {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvnTMeVOX2O_QD-pjdGT3vSBbiFfv0eVB84O2wjg5SoBOIgfGfIg2lU7n_g9VNHH0KJQg&usqp=CAU");
    background-repeat: no-repeat;
}

#img_lower_right {
    width: 200px;
    height: 200px;
    bottom: 0%;
    right: 0%;
    position: absolute;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvnTMeVOX2O_QD-pjdGT3vSBbiFfv0eVB84O2wjg5SoBOIgfGfIg2lU7n_g9VNHH0KJQg&usqp=CAU");
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.header_after_lg_scrn {
    display: none;
}

.main_heading {
    padding-top: 50px;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: 600;
    color: #B89562;
}

.sub_heading {
    padding-top: 50px;
    font-family: Georgia, serif;
    font-weight: 600;
    color: #597582;
}

.sub_heading_with_color {
    font-family: Georgia, serif;
    font-weight: 600;
    color: #B89562;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.go_to_gallary_btn {
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
    border-start-start-radius: 20px;
    color: #B89562;
}

.go_to_gallary_btn:hover {
    background: #B89562;
    color: #000;
}


.profile_data_after_md_srcn {
    display: none;
}

@media (min-width: 992px) {
    .go_to_gallary_btn {
        float: right;
    }
    .main_layout{
        margin-top: 90px;
    }
}

@media (max-width: 991px) {
    .header_before_lg_scrn {
        display: none;
    }

    .header_after_lg_scrn {
        display: block;
    }

    .serviceBox3 {
        display: none;
    }

    .go_to_gallary_btn {
        width: 100%;
    }

    .videography4 {
        display: none;
    }
    .main_layout{
        margin-top: 70px;
    }
}

@media (max-width: 767px) {
    .serviceBox2 {
        display: none;
    }

    .luxury_wedding8 {
        display: none;
    }

    .luxury_wedding7 {
        display: none;
    }

    .luxury_wedding6 {
        display: none;
    }

    .luxury_wedding5 {
        display: none;
    }

    .makeup3 {
        display: none;
    }

    .decoration3 {
        display: none;
    }

    .footer_options {
        text-align: center;
    }

    .videography3 {
        display: none;
    }

    .profile_data_before_md_srcn {
        display: none;
    }

    .profile_data_after_md_srcn {
        display: block;
    }
}